<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.cuijing.cms.folder.dao.FolderMapper">
	<resultMap id="BaseResultMap" type="me.cuijing.cms.folder.model.Folder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="jump_url" property="jumpUrl" jdbcType="VARCHAR" />
		<result column="material_type" property="materialType" jdbcType="INTEGER" />
		<result column="site_id" property="siteId" jdbcType="INTEGER" />
		<result column="seo_title" property="seoTitle" jdbcType="VARCHAR" />
		<result column="seo_keywords" property="seoKeywords" jdbcType="VARCHAR" />
		<result column="seo_description" property="seoDescription" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_id" property="createId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
		<association property="createName" column="{id=create_id}" select="me.cuijing.cms.admin.dao.AdminMapper.getUsername" />
		<association property="updateName" column="{id=update_id}" select="me.cuijing.cms.admin.dao.AdminMapper.getUsername" />
		<association property="parentName" column="{id=parent_id}" select="getFolderName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, parent_id, name, path, sort, status, type, jump_url, material_type,
		site_id, seo_title,
		seo_keywords, seo_description, update_time, update_id, create_time, create_id,
		content
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_folder
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="getFolderName" resultType="java.lang.String">
		select name from tb_folder
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_folder
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="me.cuijing.cms.folder.model.Folder">
		insert into tb_folder
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="jumpUrl != null">
				jump_url,
			</if>
			<if test="materialType != null">
				material_type,
			</if>
			<if test="siteId != null">
				site_id,
			</if>
			<if test="seoTitle != null">
				seo_title,
			</if>
			<if test="seoKeywords != null">
				seo_keywords,
			</if>
			<if test="seoDescription != null">
				seo_description,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="jumpUrl != null">
				#{jumpUrl,jdbcType=VARCHAR},
			</if>
			<if test="materialType != null">
				#{materialType,jdbcType=INTEGER},
			</if>
			<if test="siteId != null">
				#{siteId,jdbcType=INTEGER},
			</if>
			<if test="seoTitle != null">
				#{seoTitle,jdbcType=VARCHAR},
			</if>
			<if test="seoKeywords != null">
				#{seoKeywords,jdbcType=VARCHAR},
			</if>
			<if test="seoDescription != null">
				#{seoDescription,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="me.cuijing.cms.folder.model.Folder">
		update tb_folder
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="jumpUrl != null">
				jump_url = #{jumpUrl,jdbcType=VARCHAR},
			</if>
			<if test="materialType != null">
				material_type = #{materialType,jdbcType=INTEGER},
			</if>
			<if test="siteId != null">
				site_id = #{siteId,jdbcType=INTEGER},
			</if>
			<if test="seoTitle != null">
				seo_title = #{seoTitle,jdbcType=VARCHAR},
			</if>
			<if test="seoKeywords != null">
				seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
			</if>
			<if test="seoDescription != null">
				seo_description = #{seoDescription,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_folder
	</select>

	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_folder
		<where>
			<if test="subSQL != null and subSQL !='' ">
				${subSQL}
			</if>
			<if test="search != null and search !=''">
				INSTR(ifnull(name,''),'${search}') > 0
			</if>
		</where>
	</select>

</mapper>